<!-- Get in touch section -->
<section id="in-touch">
    <h1 class="text-center text-uppercase in-touch-header">Get in Touch</h1>
    <div class="container">
        <div class="row">
            
            <hr width="98%" align="center">
            <div class="col-lg-4 col-sm-6">
                <div class="address-style text-uppercase">
                    <div class="heavy-style">(614)459-5848
                        <br>
                    </div> <address>
                    Dominic &amp; Company<br>
                    1545 Bethel Road<br>
                    Columbus, Ohio 43220<br>
                </address>
                    <div class="color-teal-font"><a target="_blank" href="https://www.google.com/maps/place/Dominic+%26+Company+-+Day+Spa+and+Salon/@40.0630925,-83.060146,15z/data=!4m5!3m4!1s0x0:0xe477171ebfbc58ab!8m2!3d40.0630925!4d-83.060146">Google Map</a></div>
                    <div>
                        <br> <span class="heavy-style">Hours</span>
                        <br>
                        <table>
                            <tr>
                                <td>Mon:</td>
                                <td><span>1pm - 8pm</span></td>
                            </tr>
                            <tr>
                                <td>Tue - Thu:</td>
                                <td><span>9am - 8pm</span></td>
                            </tr>
                            <tr>
                                <td>Fri:</td>
                                <td><span>9am - 5pm</span></td>
                            </tr>
                            <tr>
                                <td>Sat:</td>
                                <td><span>9am - 4pm</span></td>
                            </tr>
                            <tr>
                                <td>Sun:</td>
                                <td><span>Closed</span></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="address-style text-uppercase">
                    <br> <span class="heavy-style">General Inquiries:</span>
                    <br> <a href="mailto:dominiconbethel@gmail.com">dominiconbethel@gmail.com</a> 
                </div>
                <div>
                    <a style="margin-right:-7px;" target="_blank" href="https://www.facebook.com/dominiconbethel/"><img height="65" width="65" src="/images/icons/fb-icon.svg" onmouseover="this.src='/images/icons/fbg-icon.svg'" onmouseout="this.src='/images/icons/fb-icon.svg'"></a>
                    
                    <a style="margin-right:-6px;" target="_blank" href="https://www.google.com/maps/place/Dominic+%26+Company+-+Day+Spa+and+Salon/@40.0630714,-83.1301859,12z/data=!4m18!1m12!4m11!1m3!2m2!1d-83.0604914!2d40.0683264!1m6!1m2!1s0x88388d073a1e5baf:0xe477171ebfbc58ab!2sDominic+%26+Company+-+Day+Spa+and+Salon+1545+Bethel+Road+Columbus!2m2!1d-83.060146!2d40.0630925!3m4!1s0x88388d073a1e5baf:0xe477171ebfbc58ab!8m2!3d40.0630925!4d-83.060146?hl=en"><img style="margin-right:0px;" height="65" width="65" src="/images/icons/google-icon.svg" onmouseover="this.src='/images/icons/googleg-icon.svg'" onmouseout="this.src='/images/icons/google-icon.svg'"></a>
                    
                    <a style="margin-right:-7px;" target="_blank" href="https://www.instagram.com/dominiconbethel/"><img height="65" width="65" style="margin-left:-1px;" src="/images/icons/instagram-icon.svg" onmouseover="this.src='/images/icons/instagramg-icon.svg'" onmouseout="this.src='/images/icons/instagram-icon.svg'"></a>
                    
                    <a target="_blank" href="http://www.twitter.com/dominiconbethel"><img height="65" width="65" src="/images/icons/twitter-icon.svg" onmouseover="this.src='/images/icons/twitterg-icon.svg'" onmouseout="this.src='/images/icons/twitter-icon.svg'"></a>
                </div>
            </div>
            <div id="in-touch-google-map" class="col-lg-8 col-sm-6">
                <div id="map" style="height:500px"></div>
            </div>
        </div>
    </div>
</section>

<section id="easy-book">
    <div class="container-fluid">
        <div class="row">
            <div class="hidden-sm hidden-xs col-xs-offset-2 col-sm-5 text-uppercase" style="letter-spacing:1.5px; margin-top:74px;"> It's really easy to book online! </div>
            <div class="visible-sm visible-xs col-sm-12 text-center text-uppercase" style="letter-spacing:1.5px; margin-top:20px;"> It's really easy to book online! </div>
            <div class="hidden-sm hidden-xs col-sm-4"><a href="#book-now"><button type="button" class="button text-uppercase btn btn-block" style="margin-top:58px;">book an appointment</button></a></div>
            <div class="visible-sm visible-xs text-center"><a href="#book-now"><button type="button" class="button text-center text-uppercase btn" style="margin-top:18px;">book an appointment</button></a></div>
        </div>
    </div>
</section>  

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4zO2inVZirb87NbMUiAhz9dgGHhf_JtY&callback=initMap"></script>

<script>
    function initMap() {
        // Styles a map in night mode.
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {
                lat: 40.0630925
                , lng: -83.060146
            }
            , zoom: 14
            , scrollwheel: false
            , styles: [
                {
                    "elementType": "geometry"
                    , "stylers": [
                        {
                            "color": "#242f3e"
      }
    ]
  }
                , {
                    "elementType": "labels.text.fill"
                    , "stylers": [
                        {
                            "color": "#746855"
      }
    ]
  }
                , {
                    "elementType": "labels.text.stroke"
                    , "stylers": [
                        {
                            "color": "#242f3e"
      }
    ]
  }
                , {
                    "featureType": "administrative.locality"
                    , "elementType": "labels.text.fill"
                    , "stylers": [
                        {
                            "color": "#d59563"
      }
    ]
  }
                , {
                    "featureType": "poi"
                    , "elementType": "labels.text.fill"
                    , "stylers": [
                        {
                            "color": "#d59563"
      }
    ]
  }
                , {
                    "featureType": "poi.park"
                    , "elementType": "geometry"
                    , "stylers": [
                        {
                            "color": "#263c3f"
      }
    ]
  }
                , {
                    "featureType": "poi.park"
                    , "elementType": "labels.text.fill"
                    , "stylers": [
                        {
                            "color": "#6b9a76"
      }
    ]
  }
                , {
                    "featureType": "road"
                    , "elementType": "geometry"
                    , "stylers": [
                        {
                            "color": "#38414e"
      }
    ]
  }
                , {
                    "featureType": "road"
                    , "elementType": "geometry.stroke"
                    , "stylers": [
                        {
                            "color": "#212a37"
      }
    ]
  }
                , {
                    "featureType": "road"
                    , "elementType": "labels.text.fill"
                    , "stylers": [
                        {
                            "color": "#9ca5b3"
      }
    ]
  }
                , {
                    "featureType": "road.highway"
                    , "elementType": "geometry"
                    , "stylers": [
                        {
                            "color": "#746855"
      }
    ]
  }
                , {
                    "featureType": "road.highway"
                    , "elementType": "geometry.stroke"
                    , "stylers": [
                        {
                            "color": "#1f2835"
      }
    ]
  }
                , {
                    "featureType": "road.highway"
                    , "elementType": "labels.text.fill"
                    , "stylers": [
                        {
                            "color": "#f3d19c"
      }
    ]
  }
                , {
                    "featureType": "transit"
                    , "elementType": "geometry"
                    , "stylers": [
                        {
                            "color": "#2f3948"
      }
    ]
  }
                , {
                    "featureType": "transit.station"
                    , "elementType": "labels.text.fill"
                    , "stylers": [
                        {
                            "color": "#d59563"
      }
    ]
  }
                , {
                    "featureType": "water"
                    , "elementType": "geometry"
                    , "stylers": [
                        {
                            "color": "#17263c"
      }
    ]
  }
                , {
                    "featureType": "water"
                    , "elementType": "labels.text.fill"
                    , "stylers": [
                        {
                            "color": "#515c6d"
      }
    ]
  }
                , {
                    "featureType": "water"
                    , "elementType": "labels.text.stroke"
                    , "stylers": [{
                        "color": "#17263c"
                    }]
                }
            ]
        });
        var image = '/images/map_pin.png';
        var myLatlng = new google.maps.LatLng(40.0630925, -83.060146);
        var marker = new google.maps.Marker({
            position: myLatlng
            , title: "Dominic & Company Salon and Spa"
            , icon: image
        });
        // To add the marker to the map, call setMap();
        marker.setMap(map);
    }
</script>

<script>
  window.scrollTo(0, 0);
</script>

<!-- Return to Top -->
<a href="#" id="return-to-top"><i class="icon-chevron-up"></i></a>

<script>    
    // ===== Scroll to Top ==== 
    $(window).scroll(function () {
        if ($(this).scrollTop() >= 50) { // If page is scrolled more than 50px
            $('#return-to-top').fadeIn(200); // Fade in the arrow
        }
        else {
            $('#return-to-top').fadeOut(200); // Else fade out the arrow
        }
    });
    $('#return-to-top').click(function (e) { // When arrow is clicked
        e.preventDefault();
        $('body,html').animate({
            scrollTop: 0 // Scroll to top of body
        }, 500);
    });
</script>

<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
