<!-- It's really easy to book online section -->  
<footer>
    <div class="container">
        <div>
            <div class="row">
                <div class="hidden-sm hidden-xs col-xs-offset-3 col-xs-6 text-center">
                    <p>Dominic &amp; Company is an inclusive day spa and salon located in northwest Columbus, Ohio.</p>
                </div>
                <div class="visible-sm visible-xs col-xs-offset-2 col-xs-8 text-center">
                    <p>Dominic &amp; Company is an inclusive day spa and salon located in northwest Columbus, Ohio.</p>
                </div>
            </div>
            <div class="row"> 
                <div class="hidden-sm hidden-xs img-responsive center-block"><img width="40%" alt="Dominic & Company" src="/images/DominicDot_logo.svg" alt="Dominic and Company logo"> </div>
                <div class="visible-sm visible-xs img-responsive center-block"><img width="70%" alt="Dominic & Company" src="/images/DominicDot_logo.svg" alt="Dominic and Company logo"> </div>
            </div>
            <div class="row">
                <ul class="list-inline text-center text-uppercase">
                    <li><a href="#">Home</a></li>
                    <li><a href="#book-now">Book Now</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#specialists">Specialists</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="#login">Login</a></li>
                </ul>
            </div>           
            
            
            <div class="row" id="social-icons">
                <div class="col-xs-12">
                    <div style="margin-top: 30px;">
                        <a target="_blank" href="https://www.facebook.com/dominiconbethel/"><img height="65" width="65" src="/images/icons/fb-icon.svg" onmouseover="this.src='/images/icons/fbg-icon.svg'" onmouseout="this.src='/images/icons/fb-icon.svg'"></a>

                        <a target="_blank" href="https://www.google.com/maps/place/Dominic+%26+Company+-+Day+Spa+and+Salon/@40.0630714,-83.1301859,12z/data=!4m18!1m12!4m11!1m3!2m2!1d-83.0604914!2d40.0683264!1m6!1m2!1s0x88388d073a1e5baf:0xe477171ebfbc58ab!2sDominic+%26+Company+-+Day+Spa+and+Salon+1545+Bethel+Road+Columbus!2m2!1d-83.060146!2d40.0630925!3m4!1s0x88388d073a1e5baf:0xe477171ebfbc58ab!8m2!3d40.0630925!4d-83.060146?hl=en"><img height="65" width="65" src="/images/icons/google-icon.svg" onmouseover="this.src='/images/icons/googleg-icon.svg'" onmouseout="this.src='/images/icons/google-icon.svg'"></a>

                        <a target="_blank" href="https://www.instagram.com/dominiconbethel/"><img height="65" width="65" src="/images/icons/instagram-icon.svg" onmouseover="this.src='/images/icons/instagramg-icon.svg'" onmouseout="this.src='/images/icons/instagram-icon.svg'"></a>

                        <a target="_blank" href="http://www.twitter.com/dominiconbethel"><img height="65" width="65" src="/images/icons/twitter-icon.svg" onmouseover="this.src='/images/icons/twitterg-icon.svg'" onmouseout="this.src='/images/icons/twitter-icon.svg'"></a>
                    </div>
                </div>
            </div>
            
            <address>
                <div class="text-center text-uppercase" style="margin-top: 50px;">
                Dominic &amp; Company<br>
                1545 Bethel Road, Columbus, OH 43220<br>
                614-459-5848
                </div>
            </address> 
            
        </div>
    </div>
</footer>
    
<div class="container">
    <div class="row">
        <div style="height:58px;">
            <div class="text-center cpright">© 2017 Dominic &amp; Company / Crafted by <a href='https://www.redminnow.com'><span style='color:#ff3700;'>Red Minnow</span></a></div>
        </div>
    </div>
</div>