<header id="myheader">
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-4 col-sm-offset-4 col-lg-5 col-sm-8">
                <a href="#book-now"><button type="button" class="button text-uppercase btn"><span>book an appointment</span></button></a>
            </div>
        </div>
    </div>
</header>

<!-- Spoil Yourself Today! image -->
<section id="spoil-yourself">
    <div class="container">
        <div class="row">
            <div style="margin: 20px">
                <img class="img-responsive center-block" src="/images/spoil.png" alt="Spoil Yourself Today!">
            </div>
        </div>
    </div>
    <div class="service-list text-center text-uppercase center-block">
        <span>hair</span> &middot; <span>skin</span> &middot; <span>nails</span> &middot; <span>massage</span> &middot; <span>teeth whitening</span>
    </div>
    <div class="container">
        <div class="row">
            <div class="visible-lg col-xs-offset-2 col-xs-8">
                <p class="text-center splash-text">Dominic &amp; Company is an inclusive day spa and salon located on Bethel Road in northwest Columbus, Ohio.</p>
            </div>
            <div class="hidden-lg">
                <p class="text-center splash-text">Dominic &amp; Company is an inclusive day spa and salon located on Bethel Road in northwest Columbus, Ohio.</p>
            </div>
        </div>
        <div class="row">
            <p class="text-center splash-text">We are expert hair, nail, massage and spa specialists providing the ultimate in beauty, health, and relaxation!</p>
        </div>
        <div class="row">
            <div class="visible-lg col-xs-offset-4 col-xs-4">
                <p class="text-center text-uppercase splash-text">Encompassing health and beauty with excellence.</p>
            </div>
            <div class="hidden-lg">
                <p class="text-center text-uppercase splash-text">Encompassing health and beauty with excellence.</p>
            </div>
        </div>
    </div>
</section>

<!-- Locate your perfect specialist section -->
<section id="perfect-specialist">
    <div class="container-fluid">
        <div class="row">
            <div class="visible-sm visible-xs">
                <img src="/images/hair_specialist.png" class="img-responsive center-block" alt="Hair Specialist">
            </div>
            <div class="col-lg-6 col-md-6">
                <div id="perfect-specialist-verbage">
                <h1>Locate Your Perfect Specialist</h1>
                <hr class="hr-ps" width="100px" align="left">
                <p>We take enourmous pride in our work and represent the highest standards in the hair industry and are committed to delivering excellence.  As industry leaders, we bring you the highest quality service and products and always strive to be the best.</p>
                    <a href="#specialists"><button type="button" class="button text-uppercase btn">find a specialist</button></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 visible-lg visible-md">
                <img src="/images/hair_specialist.png" style="margin-left:15px;" class="img-responsive" alt="Hair Specialist">
            </div>
        </div>
    </div>
</section>


<!-- Beauty and Spa Services section -->
<section id="spa-services">
<div class="container">
    <div class="row">
        <h1 class="text-center text-uppercase header-style">Beauty &amp; Spa Services</h1>
    <hr width="70%" align="center">
    <h5 class="text-center">Select a service for offerings.</h5>
    <section class="col-sm-4">
        <a tabindex="0"  href='#services/services-hair'>
            <div class="mycontainer">
                <img src="/images/service_hair.png" class="img-responsive center-block" alt="Hair Services">
                <div class="text text-uppercase">Hair</div>
                <div class="overlay">
                    <div class="text text-uppercase">Hair</div>
                </div>
            </div>
        </a>
    </section> 
    <section class="col-sm-4">
        <a tabindex="1" href='#services/services-nail'>
            <div class="mycontainer">
                <img src="/images/service_nails.png" class="img-responsive center-block" alt="Nail Services">
                <div class="text text-uppercase">Nails</div>
                <div class="overlay">
                    <div class="text text-uppercase">Nails</div>
                </div>
            </div>
        </a>
    </section>
    <section class="col-sm-4">
        <a tabindex="2" href='#services/services-makeup'>
            <div class="mycontainer">
                <img src="/images/service_skin.png" class="img-responsive center-block" alt="Skin Treatments">
                <div class="text text-uppercase"><nobr>Skin / Makeup</nobr></div>
                <div class="overlay">
                    <div class="text text-uppercase"><nobr>Skin / Makeup</nobr></div>
                </div>
            </div>
        </a>
    </section>
    <section class="col-sm-4">
        <a tabindex="3" href='#services/services-massage'>
            <div class="mycontainer">
                <img src="/images/service_massage.png" class="img-responsive center-block" alt="Massage">
                <div class="text text-uppercase">Massage</div>
                <div class="overlay">
                    <div class="text text-uppercase">Massage</div>
                </div>
            </div>
        </a>
    </section>
    <section class="col-sm-4">
        <a tabindex="4" href='#services/services-bridal'>
        <div class="mycontainer">
            <img src="/images/service_bridal.png" class="img-responsive center-block" alt="Bridal">
            <div class="text text-uppercase">Bridal</div>
            <div class="overlay">
                <div class="text text-uppercase">Bridal</div>
            </div>
        </div>
        </a>
    </section>
    <section class="col-sm-4">
        <a tabindex="5" href='#services/services-spa'>
            <div class="mycontainer">
                <img src="/images/service_spa.png" class="img-responsive center-block" alt="Spa">
                <div class="text text-uppercase">Spa</div>
                <div class="overlay">
                    <div class="text text-uppercase">Spa</div>
                </div>
            </div> 
        </a>
    </section>
    <section class="col-sm-4">
        <a tabindex="6" href='#services/services-fitness'>
            <div class="mycontainer">
                <img src="/images/service_fitness.png" class="img-responsive center-block" alt="Fitness">
                <div class="text text-uppercase">Fitness</div>
                <div class="overlay">
                    <div class="text text-uppercase">Fitness</div>
                </div>
            </div>
        </a>
    </section>
    <section class="col-sm-4">
        <a tabindex="7" href="#services/teeth-whitening">
            <div class="mycontainer">
                <img src="/images/service_whitening.png" class="img-responsive center-block" alt="Teeth Whitening">
                <div class="text text-uppercase"><nobr>Teeth Whitening</nobr></div>
                <div class="overlay">
                    <div class="text text-uppercase"><nobr>Teeth Whitening</nobr></div>
                </div>
            </div>
        </a>
    </section>
    <section class="col-sm-4">
        <img src="/images/service_block.png" class="img-responsive center-block" alt="Dominic & Company">
    </section>
    </div>
</div>
</section>

<!-- Testimonials -->
<section id="testimonials">
    <div class="container-fluid text-center jumbotron">
        <div class="row"> 
            <img src="/images/heart.png">
            <div>
                <h1 class="text-center header-style">What our customers are saying</h1>
                <hr class="hr-testimonial" width="50%" align="center"> 
            </div>
            <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                    <li data-target="#myCarousel" data-slide-to="5"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active"> <span class="customer-quotes">The best. I am so happy with the result!<br></span><span class="text-uppercase customer-name">Diane R.</span> </div>
                    <div class="item"> <span class="customer-quotes">Great location, friendly staff!<br></span><span class="text-uppercase customer-name">Ann S.</span> </div>
                    <div class="item"> <span class="customer-quotes">The salon is beautifully decorated!<br></span><span class="text-uppercase customer-name">Marci S.</span> </div>
                    <div class="item"> <span class="customer-quotes">What a friendly staff!!<br></span><span class="text-uppercase customer-name">Jennifer S.</span> </div>
                    <div class="item"> <span class="customer-quotes">5 STARS!!<br></span><span class="text-uppercase customer-name">Kim F.</span> </div>
                    <div class="item"> <span class="customer-quotes">Unsurpassed in the beauty industry.<br></span><span class="text-uppercase customer-name">Rick F.</span> </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Salon Gallery section -->
<section id="salon-gallery">
    <div class="container" style="text-align:center;">
        <div class="row">
            <h1 class="text-center text-uppercase header-style">Salon Gallery</h1>
            <hr width="90%" align="center">
            <!--div  style="text-align:center;"-->
            <a href="/images/fancybox/dominic_salon_1.jpg" data-width="628" data-height="418" data-fancybox="group" data-caption="">
                <img src="/images/fancybox/dominic_salon_1.jpg" height="142" width="215" alt="" />
            </a>

            <a href="/images/fancybox/dominic_salon_2.jpg" data-width="628" data-height="418" data-fancybox="group" data-caption="">
                <img src="/images/fancybox/dominic_salon_2.jpg" height="142" width="215" alt="" />
            </a>            
            
            <a href="/images/fancybox/dominic_salon_3.jpg" data-width="628" data-height="418" data-fancybox="group" data-caption="">
                <img src="/images/fancybox/dominic_salon_3.jpg" height="142" width="215" alt="" />
            </a>

            <a href="/images/fancybox/dominic_salon_4.jpg" data-width="628" data-height="418" data-fancybox="group" data-caption="">
                <img src="/images/fancybox/dominic_salon_4.jpg" height="142" width="215" alt="" />
            </a>      
            
            <a href="/images/fancybox/dominic_salon_5.jpg" data-width="628" data-height="418" data-fancybox="group" data-caption="">
                <img src="/images/fancybox/dominic_salon_5.jpg" height="142" width="215" alt="" />
            </a>

            <a href="/images/fancybox/dominic_salon_6.jpg" data-width="628" data-height="418" data-fancybox="group" data-caption="">
                <img src="/images/fancybox/dominic_salon_6.jpg" height="142" width="215" alt="" />
            </a>            
            
            <a href="/images/fancybox/dominic_salon_7.jpg" data-width="628" data-height="418" data-fancybox="group" data-caption="">
                <img src="/images/fancybox/dominic_salon_7.jpg" height="142" width="215" alt="" />
            </a>

            <a href="/images/fancybox/dominic_salon_8.jpg" data-width="628" data-height="418" data-fancybox="group" data-caption="">
                <img src="/images/fancybox/dominic_salon_8.jpg" height="142" width="215" alt="" />
            </a> 
            
            <a href="/images/fancybox/dominic_salon_9.jpg" data-width="628" data-height="418" data-fancybox="group" data-caption="">
                <img src="/images/fancybox/dominic_salon_9.jpg" height="142" width="215" alt="" />
            </a>

            <a href="/images/fancybox/dominic_salon_10.jpg" data-width="628" data-height="418" data-fancybox="group" data-caption="">
                <img src="/images/fancybox/dominic_salon_10.jpg" height="142" width="215" alt="" />
            </a> 
            <!--/div-->
        </div>
    </div>
</section>

<section id="easy-book">
    <div class="container-fluid">
        <div class="row">
            <div class="hidden-sm hidden-xs col-xs-offset-2 col-sm-5 text-uppercase" style="letter-spacing:1.5px; margin-top:74px;"> It's really easy to book online! </div>
            <div class="visible-sm visible-xs col-sm-12 text-center text-uppercase" style="letter-spacing:1.5px; margin-top:20px;"> It's really easy to book online! </div>
            <div class="hidden-sm hidden-xs col-sm-4"><a href="#book-now"><button type="button" class="button text-uppercase btn btn-block" style="margin-top:58px;">book an appointment</button></a></div>
            <div class="visible-sm visible-xs text-center"><a href="#book-now"><button type="button" class="button text-center text-uppercase btn" style="margin-top:18px;">book an appointment</button></a></div>
        </div>
    </div>
</section>  

<!-- Return to Top -->
<a href="#" id="return-to-top"><i class="icon-chevron-up"></i></a>

<script>    
    // ===== Scroll to Top ==== 
    $(window).scroll(function () {
        if ($(this).scrollTop() >= 50) { // If page is scrolled more than 50px
            $('#return-to-top').fadeIn(200); // Fade in the arrow
        }
        else {
            $('#return-to-top').fadeOut(200); // Else fade out the arrow
        }
    });
    $('#return-to-top').click(function (e) { // When arrow is clicked
        e.preventDefault();
        $('body,html').animate({
            scrollTop: 0 // Scroll to top of body
        }, 500);
    });
</script>

<script>
$(document).ready(function(){
    var numimages=3;
    rndimg = new Array("images/banner_1.jpg","images/banner_2.jpg","images/banner_3.jpg");
    x=(Math.floor(Math.random()*numimages));
    randomimage=(rndimg[x]);
    $("#myheader").attr('style', 'background-image: url('+randomimage+')');  
});
</script>


<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

