/* GLOBAL STYLES
-------------------------------------------------- */
html {
    color: grey;
    background-color: grey;
}

body {
  /* font-family: 'Cinzel', serif; */
  /* font-family: 'Julius Sans One', sans-serif; */
  font-size: 1.5em;
  color: #5a5a5a;
}

  h2 {
      text-align: center;
      font-weight: 600;
      /* margin-bottom: 10px; */
  }

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.navbar {
    font-size: 1.1em;
    font-family: sans-serif;
  }

.navbar-brand {
    position: absolute;
    margin-top: -12px;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

 /* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  /*width: auto;*/
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing {
   padding-top: 40px;
   padding-bottom: 60px; 
}
.marketing .col-lg-4 {
  font-size: 1.4em;
  /* margin-bottom: 40px; */
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 40px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  /*.carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  } */

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    /* margin-top: 120px; */
  }
}

/* Login drop-down menu styles */
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

#login-error {
    color: #cc0000;
}

.navbar-default {
  background-color: #4e4e4f;
    border-color: #fff;
}

.navbar-default .navbar-nav > li > a {
  color: #c5c5c5;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: #d56e2f;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #c5c5c5;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #d56e2f;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #d56e2f;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: #d56e2f;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #d56e2f;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #d56e2f;
}
.navbar-default .navbar-toggle {
  border-color: #d56e2f;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #d56e2f;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #c5c5c5;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #c5c5c5;
}
.navbar-default .navbar-link {
  color: #c5c5c5;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #c5c5c5;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #d56e2f;
  }
}

.error {
  color: red;
  padding-bottom: 10px;
}

footer > div {
    background-color: #4e4e4f
}

footer p {
    font-family:sans-serif;
    color: #fff;
}

footer h3 {
    color: #c5c5c5;
}

footer ul {
    list-style-type:none;
    padding-left:0;
    color: #fff;
    font-family: sans-serif;
} 

#myFooter {
    background-color: #4e4e4f;
    padding-bottom: 30px;
}

@media (max-width: 767px) {
    #super-footer {
        padding-top: 10px;
    }  
}

#super-footer {
    /*background-color: #4e4e4f;*/
    padding: 10px;
    background-color: #5a5a5a;
}

.copyright {
    font-size: .8em;
    color: #7c7c7c;
}

@media (max-width: 767px) {
    .fineprint {
        padding-top: 30px;
    }  
}

.fineprint {
    font-size: .7em;
    color: #c6c6c6;
    margin-left: 8px;
}

body { padding-top: 50px; }

#btnSaveProfile {
    margin-bottom: 10px;
}

.warning {color: red;}
.valid {color: green;}


/* fill margins around header image */
#wrapper {
    background-color: grey;
    height: 100vh;
}

/* fill margins around header image */
#mainHeader {
    background-color: grey;
    /*height: 100vh;*/
    height: 588px;
    background-image: url(/images/banner.png); 
    background-repeat: no-repeat;
}

/* header styles */
#imgStylist {
    width: 100%;
}

#imgLogo {
    width: 100%; 
    padding-top: 220px; 
    padding-right: 40px;
}

@media(max-width:1224px){
    #imgLogo {
        padding-top: 100px;
    }
}

@media(max-width:768px){
    #imgLogo {
        padding-top: 60px;
    }
}


  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #d56e2f;
  }
  .carousel-indicators li {
      border-color: #d56e2f;
  }
  .carousel-indicators li.active {
      background-color: #d56e2f;
  }

.carousel: {
    margin-top: 77px;
    height: 100%;
    margin-bottom: 0px;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}

.carousel-indicators {
    position: absolute;
    bottom: -50px;
    /* left: 0; */
    z-index: 15;
    width: 60%;
    list-style: none;
    text-align: center;
}

.carousel-inner {
    margin-bottom: 100px;
}

  .logo-small {
      color: #d56e2f;
      font-size: 50px;
  }
  .logo {
      color: #d56e2f;
      font-size: 100px;
  }

 .bg-grey {
      background-color: #f6f6f6;
  }

  .panel {
      border: 1px solid #d56e2f;
      border-radius:8px !important;
      transition: box-shadow 0.5s;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
      border: 1px solid #d56e2f;
      background-color: #fff !important;
      color: #d56e2f;
  }
  .panel-heading {
      color: #fff !important;
      /* background-color: #6f6f70 !important; */
      background-color: #6f6f70 !important;
      border-top-left-radius:7px !important;
      border-top-right-radius:7px !important;
      padding: 1px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  .panel-footer {
      background-color: white !important;
  }
  .panel-footer h3 {
      font-size: 32px;
  }
  .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
  }
  .panel-footer .btn {
      margin: 15px 0;
      background-color: #d56e2f;
      color: #fff;
  }

.myBanner h1 {    /* ad9377 */
  color: #c6c6c6;
  text-align: center;
  font-size: 3.0em;
  font-family:fantasy;  
}

.tagline {
    color: dimgrey;
    font-size: 2.0em;
    text-align: center;
    font-family:fantasy;
    padding: 5px;
}

.tagline-sm {
    color: dimgrey;
    background-color: grey;
    font-size: 1.6em;
    text-align: center;
    font-family:fantasy;
    padding: 5px;
    padding-bottom: 60px;
}

.myFlash {
    margin-top: 50px;
    margin-bottom: 10px;
}

.flash-radius {
    border-radius: 25px;
    border:1px solid #fff;
    margin-bottom: 5px;
}

.mySplash {    /* ad9377 */
  text-align: center;
  font-size: 4em;
  font-family: 'Cormorant', 'Cinzel', serif; 
}

#services h4 {
    font-size: 1.5em;
}

.staffPadding {
    margin-top: 25px;
    margin-left: 10px;
}

.myPadding {
    margin-top: 40px;
}

.myLittlePad {
    margin-top: 15px;
}

#services p {
    font-size: .9em;
}

.myBrand {
    font-size: 1.4em;
    margin-top: 3px;
}

#specialists h3 {
    font-size: 1.5em;
}

#specialists h4 {
    font-size: 1.2em;
}

#myMap {
    background-color: grey;
}

.specialistPic {
    border-radius: 25px; 
    /* margin-top: 20px; */
    margin-bottom: 20px;
}

.tab-pane {
    padding: 8px;
    /*height:494px;*/
    height:360px;
    overflow-y:scroll;
    border:1px solid #ccc;
    /* border-radius: 8px; */
}

.svrcStyle {
    font-size: 1.3em;
}

.orange {
    color: #fff;
    background-color: #d56e2f;
    border-radius: 8px;
}

.grey {
    color: #fff;
    background-color: grey;
    border-radius: 8px;
}

.specialistSearch {
    background-color: bg-grey;
    margin: 10px;
    padding: 10px;
}

#circle {
    background: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    opacity: 0.7;
}

.specialPad {
    margin-left:15px;
    margin-right:15px;
    text-align: center;
}

.buttonPad {
    margin-top:20px;
    margin-left:15px;
    margin-right:15px;
    text-align: center;
}

.specialBadge {
    margin-left:5px;
    margin-bottom: 2px;
    font-size: .8em;
}

.myHours {
    font-size: .9em;
    color: darkgray;
}

.parallax { 
    /* The image used */
    background-image: url("/images/front-door-2.jpg");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}

.fullWidthBGColor {
    background-color: #828282;
}

table#hours-tab {
    width: 90%; 
    color: #fff;
    padding: 1px;
    font-size: 1.3em;
}

.serviceTime {
    color: #d56e2f;
}

.servPad {
    padding: 10px;
}

.timePad {
    padding-left: 5px;
}

.boxed {
    padding: 2px;
    border: 1px solid grey;
}

.searchPad {
    margin: 8px;
}

.subliminal {    
    color: white;
    background-color: bg-grey;
    border-radius: 8px;
}

.myHours {
    font-size: 1.2em;
    color:grey;
}

.section-heading {
      color: #fff !important;
      /*background-color: #ffd1b3 !important;*/
      background-color: #e6e6e6 !important;
    
      border-top-left-radius:7px !important;
      border-top-right-radius:7px !important;
      padding: 1px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }


/************ from scotchio for scheduling app *************/
/* checkbox - each time slot */
.time-slot               {  }

/* hide the checkbox itself - the label will be styled */
.time-slot input     { 
  display:none; 
}

/* default styling for our labels */
.time-slot label     { 
  padding:10px 20px; 
  color:#FFF; 
  cursor:pointer; 
  background:#EEE; 
  border-radius:5px; 
  transition:0.3s ease all;
}

/* if the label is checked */
.time-slot input:checked ~ label { 
  background: #e6e6e6;
  cursor:not-allowed;
  animation:flashBooked 0.5s ease; 
}

/* if the label is not checked */
.time-slot input:not(:checked) ~ label { 
  background:#d56e2f;
  animation:flashAvailable 0.5s ease; 
}

/* animation for the time slot to flash red */
@keyframes flashBooked {
  0%, 100%  { background:#e6e6e6; transform:scale(1); }
  50%       { background:orange; transform:scale(1.5); }
}

/* animation for the time slot to flash green */
@keyframes flashAvailable {
  0%, 100%  { background:#d56e2f; transform:scale(1); }
  50%       { background:orange; transform:scale(1.5); }
}