<!-- Get in touch section -->
<section id="book-now">
    <h1 class="text-center text-uppercase book-now-header">Book Now</h1>
    <div class="container">
        <div class="row">
            
            <hr width="98%" align="center">
            <div class="col-lg-6 col-md-8">
                <iframe src="https://www.salonvision.com/Dominic/AppointmentSearchFBTab.aspx?backcolor=FFFFFF" scrolling="no" width="600px" height="760px" frameborder="0"></iframe>
            </div>
            <div class="col-lg-6 col-md-4 book-now-jumbotron">
                <h1 class="not-finding-specialist">Not Finding a Specialist?</h1>
                
                <hr align="center" style="border-top: 1px solid #D3D3D3;">
                
                <p><i>Some specialists are independent contractors and use a different booking process.  If you do not see the specialist or service you wish to book, please <a href="#specialists">view their profile</a> for alternate booking process or call 614-459-5848 and we will be happy to assist you.</i></p>
                
                <a href="#specialists"><button type="button" class="button text-uppercase btn">Find a Specialist</button></a>
            </div>
            
            <!--div class="col-lg-4">
                <div class="address-style text-uppercase">
                    <div class="heavy-style">(614)459-5848
                        <br>
                    </div> <address>
                    Dominic &amp; Company<br>
                    1545 Bethel Road<br>
                    Columbus, Ohio 43220<br>
                </address>
                    <div class="color-teal-font"><a target="_blank" href="https://www.google.com/maps/place/Dominic+%26+Company+-+Day+Spa+and+Salon/@40.0630925,-83.060146,15z/data=!4m5!3m4!1s0x0:0xe477171ebfbc58ab!8m2!3d40.0630925!4d-83.060146">Google Map</a></div>
                    <div>
                        <br> <span class="heavy-style">Hours</span>
                        <br>
                        <table>
                            <tr>
                                <td>Mon:</td>
                                <td><span>1pm - 8pm</span></td>
                            </tr>
                            <tr>
                                <td>Tue - Thu:</td>
                                <td><span>9am - 8pm</span></td>
                            </tr>
                            <tr>
                                <td>Fri:</td>
                                <td><span>9am - 5pm</span></td>
                            </tr>
                            <tr>
                                <td>Sat:</td>
                                <td><span>9am - 4pm</span></td>
                            </tr>
                            <tr>
                                <td>Sun:</td>
                                <td><span>Closed</span></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="address-style text-uppercase">
                    <br> <span class="heavy-style">General Inquiries:</span>
                    <br> <a href="mailto:info@dominicandcompany.com">info@dominicandcompany.com</a> 
                </div>
                <div>
                    <a target="_blank" href="https://www.facebook.com/dominiconbethel/"><img height="60" width="60" src="/images/icons/fb-icon.svg" onmouseover="this.src='/images/icons/fbg-icon.svg'" onmouseout="this.src='/images/icons/fb-icon.svg'"></a>
                    <a target="_blank" href="https://www.google.com/maps/place/Dominic+%26+Company+-+Day+Spa+and+Salon/@40.0630714,-83.1301859,12z/data=!4m18!1m12!4m11!1m3!2m2!1d-83.0604914!2d40.0683264!1m6!1m2!1s0x88388d073a1e5baf:0xe477171ebfbc58ab!2sDominic+%26+Company+-+Day+Spa+and+Salon+1545+Bethel+Road+Columbus!2m2!1d-83.060146!2d40.0630925!3m4!1s0x88388d073a1e5baf:0xe477171ebfbc58ab!8m2!3d40.0630925!4d-83.060146?hl=en"><img height="60" width="60" src="/images/icons/google-icon.svg" onmouseover="this.src='/images/icons/googleg-icon.svg'" onmouseout="this.src='/images/icons/google-icon.svg'"></a>
                    <a target="_blank" href="https://www.instagram.com/dominiconbethel/"><img height="60" width="60" style="margin-left:-1px;" src="/images/icons/instagram-icon.svg" onmouseover="this.src='/images/icons/instagramg-icon.svg'" onmouseout="this.src='/images/icons/instagram-icon.svg'"></a>
                    <a target="_blank" href="http://www.twitter.com/dominiconbethel"><img height="60" width="60" src="/images/icons/twitter-icon.svg" onmouseover="this.src='/images/icons/twitterg-icon.svg'" onmouseout="this.src='/images/icons/twitter-icon.svg'"></a>
                </div>
            </div-->
            
        </div>
    </div>
</section>

<section id="view-our-specialists">
    <div class="container-fluid">
        <div class="row">
            <div class="hidden-sm hidden-xs col-xs-offset-2 col-sm-5 text-uppercase" style="letter-spacing:1.5px; margin-top:60px;"> Encompassing health and beauty with excellence. </div>
            <div class="visible-sm visible-xs col-sm-12 text-center text-uppercase" style="letter-spacing:1.5px; margin-top:20px;"> Encompassing health and beauty with excellence. </div>
            <div class="hidden-sm hidden-xs col-sm-4"><a href='#services'><button type="button" class="button text-uppercase btn btn-block" style="margin-top:58px;">view our services</button></a></div>
            <div id="vs-button-sm" class="visible-sm visible-xs text-center"><a href="#services"><button type="button" class="button text-center text-uppercase btn" style="margin-top:18px;margin-bottom:10px;">view our services</button></a></div>
        </div>
    </div>
</section>

<script>
  window.scrollTo(0, 0);
</script>

<!-- Return to Top -->
<a href="#" id="return-to-top"><i class="icon-chevron-up"></i></a>

<script>    
    // ===== Scroll to Top ==== 
    $(window).scroll(function () {
        if ($(this).scrollTop() >= 50) { // If page is scrolled more than 50px
            $('#return-to-top').fadeIn(200); // Fade in the arrow
        }
        else {
            $('#return-to-top').fadeOut(200); // Else fade out the arrow
        }
    });
    $('#return-to-top').click(function (e) { // When arrow is clicked
        e.preventDefault();
        $('body,html').animate({
            scrollTop: 0 // Scroll to top of body
        }, 500);
    });
</script>

<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
