<div id="staffdetail" ng-controller="SchedulerController">
    <div class="container marketing bg-grey" style="padding-bottom: 18px;">
        <h2 class="mySplash">Book an Appointment</h2>
        <div class="row ">
            <div style="margin:40px; padding:10px;">
            <div class="col-lg-4 col-md-4 col-xs-12">
                <span style="font-size:1.4em;">with <strong>{{firstname}} {{lastname}}</strong></span>
                <img class="img-responsive img-rounded specialistPic" src="images/default_avatar.png" id="sched_imgProfilePic" alt="Profile picture">
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="hidden-md hidden-sm hidden-xs" style="padding-left: 80px;">
                    <label style="font-size:1.4em;">Select service: </label>
                    <select onclick="myScrollNext()" size="8" style="font-size:1.4em; color:grey;" id="service_select" ng-model="selectItem" ng-options="item as item.text group by item.category for item in items"></select>
                </div>            
                
                <div class="visible-md" style="padding-left: 30px;">
                    <label style="font-size:1.4em;">Select service: </label>
                    <select onclick="myScrollNext()" class="center-block" size="8" style="font-size:1.1em; color:grey;" id="service_select" ng-model="selectItem" ng-options="item as item.text group by item.category for item in items"></select>
                </div>
                
                <div class="hidden-md visible-sm visible-xs">
                    <label style="font-size:1.4em;">Select service: </label>
                    <select onclick="myScrollNext()" class="center-block" size="12" style="font-size:1.1em; color:grey;" id="service_select" ng-model="selectItem" ng-options="item as item.text group by item.category for item in items"></select>
                </div>
            </div>
            </div>    
        </div>
        
        <div class="clearfix"></div>

        <div ng-hide="selectItem == Object()" style="margin-top:100px">
            
        <p id="myId" class="center-block badge" style="font-size:1.8em; padding-bottom:10px;"><strong>Select date and time</strong></p>
        <p class="text-center text-muted" style="font-size:1.5em; padding-bottom:10px;">You've selected <strong>{{firstname}}</strong> for a <strong>{{myService}}</strong> <span class="badge" style="margin-top:-8px; font-size: .7em;">{{serviceTime}} hour<span ng-if="serviceTime > 1 || serviceTime < 1">s</span></span></p>
        <div class="row times">
            <div class="col-lg-2 col-md-4 col-xs-12 text-center" ng-repeat="day in days">
                <h2>{{ day.dayofWeek }}</h2>
                <h4>{{ day.todaysDate }}</h4>
                <div class="time-slot" ng-repeat="slot in day.timeslots">
                    <input ng-click="confirmBooking(slot)" type="checkbox" id="{{ day.dow }}-{{ $index }}" ng-model="slot.booked" ng-disabled="slot.booked">
                    <label for="{{ day.dow }}-{{ $index }}">{{ slot.start }}
                        <br> <span ng-if="slot.booked">Booked</span> <span ng-if="!slot.booked">Available</span> </label>
                </div>
            </div>
        </div>
        </div>       
    </div>
</div>

<!-- Booking Confirm Modal -->
<div class="modal fade" id="modalBookingConfirm">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p id="modalSuccessAlert-body"></p>
            </div>
            
            <p class="text-center" style="font-size:2.25em">Appointment Details:</p>
            <div style="text-align: center"><p style="font-size:2.2em" class="text-muted">{{firstname}} {{lastname}}</p>
            <p style="font-size:2em" id="confservice" class="center-text text-muted"></p>
            <p style="font-size:1.8em" id="confbookdate" class="center-text text-muted"></p></div>
            
            <div class="modal-footer"><span id="modalDeleteConfirm-footer" class="pull-left">Confirm your appointment?</span>
                <button type="button" id="pf_modalYes" class="btn btn-warning btn-md" data-dismiss="modal">Yes</button>
                <button type="button" id="pf_modalNo"  class="btn btn-info btn-md" data-dismiss="modal">No</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- Booking Confirm Modal -->

<script>
      function myScrollNext() {
        $('html, body').animate({
            scrollTop: $("#myId").offset().top
        }, 2000);          
      };
</script>


