<!-- Container (Services Section) -->
<div id="services" class="container text-center marketing  bg-grey">
    <h2 class="mySplash">Salon and Spa Services</h2>
    <br>
    
    <div class="row slideanim">
        <div class="col-lg-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>Hair</h1> </div>
                    <img src="images/nice-hair.png" style="border-radius: 25px" height="210" width="240">
                    <p class="lead">Cut, Color, Style, Shampoo and more</p>
            </div>
        </div>
        <br class="visible-xs">
        <div class="col-lg-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>Nails</h1> </div>
                    <img src="images/nails.png" height="210" width="240">
                    <p class="lead">Manicure, Pedicure, Acrylics, more</p>
            </div>
        </div>
        <br class="visible-xs">
        <div class="col-lg-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>Makeup</h1> </div>
                    <img style="border-radius: 25px" src="/images/makeup-artist.png" height="210" width="210">
                    <p class="lead">Application, Bridal, Consultation, more</p>
            </div>
        </div>
    </div>    
    
    <br>
    
    <div class="row slideanim">
        <div class="col-lg-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>Training</h1> </div>
                    <img style="border-radius: 25px" src="/images/personal-training.jpg" height="210" width="240">
                    <p class="lead">Personal, Group, Weight Loss and more</p>
            </div>
        </div>
        <br class="visible-xs">
        <div class="col-lg-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>Massage</h1> </div>
                    <img style="border-radius: 25px" src="/images/massage.jpg" height="210" width="240">
                    <p class="lead">Swedish, Hot Stone and more</p>
            </div>
        </div>
        <br class="visible-xs">
        <div class="col-lg-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>Spa</h1> </div>
                    <img style="border-radius: 25px" src="/images/facial.jpg" height="210" width="240">
                    <p class="lead">Facials, Wax, Electrolysis, and more</p>
            </div>
        </div>
    </div>     
    
</div>