<!-- Container (Testimonials Section) -->
<div id="testimonials" class="container text-center marketing">
    <h2 class="featurette-heading">What our customers say</h2>
    <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
            <li data-target="#myCarousel" data-slide-to="6"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <h3>"The best. I am so happy with the result!"<br><span class="text-muted" style="font-style:normal;">Diane R.</span></h3> </div>
            <div class="item">
                <h3>"Great location, friendly staff, highly recommend!"<br><span class="text-muted" style="font-style:normal;">Ann S.</span></h3> </div>
            <div class="item">
                <h3>"Dominic and his Team of professionals take your experience to a level unsurpassed in the hair and beauty industry."<br><span class="text-muted" style="font-style:normal;">Rick F.</span></h3> </div>
            <div class="item">
                <h3>"The salon is beautifully designed and decorated!"<br><span class="text-muted" style="font-style:normal;">Marci S.</span></h3> </div>
            <div class="item">
                <h3>"What a friendly and knowledgeable staff!! Dominic is the BEST hairstylist I have ever had! His eye for color is amazing."<br><span class="text-muted" style="font-style:normal;">Jennifer S.</span></h3> </div>
            <div class="item">
                <h3>"All services are offered and provided with class and care."<br><span class="text-muted" style="font-style:normal;">JP</span></h3> </div>
            <div class="item">
                <h3>"5 STARS!!"<br><span class="text-muted" style="font-style:normal;">Kim F.</span></h3> </div>
        </div>
    </div>
</div>
<script>
    /* Fix: carousel not firing problem */
    var $carousel = $('#myCarousel');
    $carousel.carousel();
</script>